%h1
  Log In

.row
  .col-md-4
    = form_tag sessions_path, method: :post do
      .form-group
        = label_tag :username
        = text_field_tag :username, nil, class: 'form-control', required: true
      .form-group
        = label_tag :password
        = password_field_tag :password, nil, class: 'form-control', required: true

      = submit_tag "Sign in", class: "btn btn-primary "
      = link_to 'Sign Up', new_user_path, class: 'btn btn-default'
