.row
  .col-md-4{class: "user_#{current_user.id}"}
    %ul{class: "user_#{current_user.id}"}
    %input{class: "user_#{current_user.id}", type: 'text', name: "user_#{current_user.id}"}
    %a.btn.btn-default{id: "#{current_user.id}"} Отправить